@font-face {
    font-family: "titulo";
    src: url("../fuentes/titulo.TTF") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&display=swap');


* {
    margin: 0px;
    padding: 0px
}

body {
    background-color: #efab54
}

header {
    text-decoration: underline;
    color: black;
    display: flex;
}

.ingredientes {
    text-decoration: underline;
}

.preparacion {
    text-decoration: underline;
}

.tituloprincipal {
    display: flex;
    justify-content: center;
    height: 70px;
    font-family: "titulo";
}


.article {
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 700px) {
    .tituloprincipal{
        display: none;
        background-color: blue;
    
    }
}

@media (min-width: 700px) {
    .fast {
        display: none;

    }
}